<!doctype html>

<html>
  <head>
    <title>Student List</title>
  </head>

  <body>
    <h1>Student List</h1>

    <a href="{% url 'add_student' %}">
      <button type="button">Add Student</button>
    </a>

    <hr />

    {% for student in students %}

    <p>
      Name: {{ student.name }} | Email: {{ student.email }} | Course: {{
      student.course }} | Age: {{ student.age }}

      <a
        href="{% url 'edit_student' student.id %}"
        style="text-decoration: none"
      >
        <button type="button">Edit</button>
      </a>

      <a href="{% url 'delete_student' student.id %}">
        <button type="button" style="margin-left: 10px">Delete</button>
      </a>
    </p>

    {% empty %}

    <p>No students found.</p>

    {% endfor %}
  </body>
</html>
